<article class="{{classes}}
                chat-item"
>
    <div class="chat-item__wrapper">
        {{> user
            classes="chat-item__user"
        }}

        <div class="chat-item__info">
            <time class="chat-item__date">
                {{date}}
            </time>

            {{#if notifications}}
                <div class="chat-item__notifications">
                    {{notifications}}
                </div>
            {{/if}}
        </div>
    </div>
</article>
