<article class="{{classes}}
                chat-item
                {{#if selected}}chat-item--selected{{/if}}"
>
    <div class="chat-item__wrapper">
        {{{User
            classes="chat-item__user"
            imgSrc=userImgSrc
            imgAlt=userImgAlt
            name=userName
            lastMessage=userLastMessage
        }}}

        <div class="chat-item__info">
            <time class="chat-item__date">
                {{date}}
            </time>

            {{#if notifications}}
                <div class="chat-item__notifications">
                    {{notifications}}
                </div>
            {{/if}}
        </div>
    </div>
</article>
