.modal {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    transition: $transition-default;

    opacity: 0;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        cursor: pointer;

        opacity: 0.4;
        background-color: $color-bg-overlay;
    }

    &__title {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: rem(50);
        }

        @include text-props(15, 20);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;

        width: rem(340);
        padding: rem(40) rem(30);

        transform: translate(-50%, -50%);

        border-radius: $border-radius-block;
        background-color: $color-bg-light;
        box-shadow: $box-shadow-block;

        &-inner {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__text {
        color: $color-unobtrusive;

        @include text-props(14, 16);
    }

    &__field {
        display: flex;
        align-items: flex-end;

        &-img {
            width: rem(47);
            height: rem(47);

            border-radius: 50%;

            &:not(:last-child) {
                margin-right: rem(16);
            }
        }
    }

    &.open {
        visibility: visible;

        opacity: 1;
    }
}
