<ul class="dropdown-actions-list
           {{#if thema}}dropdown-actions-list--{{thema}}{{/if}}"
>
    {{#each dropdownActionsList}}
        <li class="dropdown-actions-list__item">
            {{#Action
                classes="dropdown__item"
                themaType="button"
                thema="button-transparent"
            }}
                {{{Icon
                    classes="action__icon"
                    size="22"
                    rotate=icon.rotate
                    name=icon.name
                }}}

                <span class="action__text">
                    {{action.text}}
                </span>
            {{/Action}}
        </li>
    {{/each}}
</ul>
