.form {
    &:not(.form--no-styles) {
        display: flex;
        flex-direction: column;

        width: rem($size-form);
        max-width: 100%;
        min-height: rem(450);
        padding: rem(50) rem(30) rem(30);

        border-radius: $border-radius-block;
        box-shadow: $box-shadow-block;
    }

    &--profile {
        width: auto;
        padding: 0;

        box-shadow: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        height: 100%;
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }

        @include text-props(20, 20);
    }

    &__fileds {
        flex-grow: 1;

        &:not(:last-child) {
            margin-bottom: rem(40);
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
    }

    &__actions {
        &-item {
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }
    }
}
