.chat-content {
    padding-top: rem(48);

    &__item {
        margin-bottom: rem(30);

        text-align: left;

        &--current-user {
            text-align: right;
        }
    }

    &__date {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }

        @include text-props(12, 12);
    }
}
