.chat-page {
    display: flex;

    &__aside {
        flex-shrink: 0;

        width: rem(310);
        height: 100%;
    }

    &__chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        height: 100%;
        padding: rem(10) rem(10) rem(10) rem(20);

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            padding-bottom: rem(10);

            border-bottom: rem(1) solid $color-border-light-gray;

            &-dropdown {
                &-wrapper {
                    margin-right: rem(10);
                }
            }
        }

        &-user {
            align-items: center;
        }

        &-content {
            flex-grow: 1;

            width: 100%;
        }
    }
}
