{{#> main classes="chat-page"}}
    {{#> asidePanel classes="chat-page__aside"}}
        <div class="aside-panel__header">
            {{#> action
                 classes="aside-panel__link"
                 thema="link-unobtrusive"
                 href="/profile"
            }}
                <span class="action__text">
                Профиль
            </span>

                {{> icon
                    classes='action__icon'
                    size='12'
                    name='icon-arrow-right'
                }}
            {{/action}}

            {{#> formfield
                 classes='aside-panel__search formfield--filled'
                 id='search'
                 name='search'
                 type='text'
                 thema='filled'
            }}
                {{> icon
                    classes='formfield__label-icon'
                    size='20'
                    name='icon-loupe'
                }}

                <span class="formfield__label-text">
                Поиск
            </span>
            {{/formfield}}
        </div>

        <div class="aside-panel__chats">
            {{#each chats
            }}
                {{> chatItem
                    classes="aside-panel__chats-item"
                    imgSrc=this.imgSrc
                    name=this.name
                }}
            {{/each}}
        </div>
    {{/asidePanel}}

    <div class="chat-page__chat">
        {{#if isChatSelected}}
            <header class="chat-page__chat-header">
                {{> user
                    classes="chat-page__chat-user"
                    imgSrc=chat.user.imgSrc
                    imgAlt=chat.user.imgAlt
                    name=chat.user.name
                }}

                {{#> dropdown
                     classes="chat-page__heare-chat-dropdown-wrapper"
                }}
                    {{#*inline "action"}}
                        {{#> action
                             thema="button-dots"
                             classes="chat-page__dropdown-button"
                        }}
                            <span class="action__icon"></span>
                        {{/action}}
                    {{/inline}}

                    {{#*inline "content"}}
                        {{> dropdownActionsList
                            dropdownActionsList=chat.dropdownActionsList
                        }}
                    {{/inline}}
                {{/dropdown}}
            </header>

            <div class="chat-page__chat-content">
                Круто
            </div>
        {{else}}
            <div class="chat-page__chat-message">
                Выберите чат чтобы отправить сообщение
            </div>
        {{/if}}
    </div>
{{/main}}
