@import '../vars';

@font-face {
    $font-name: 'inter-medium';
    font-family: $font-family;
    font-weight: 500;

    font-display: block;
    src: url('#{$path-fonts}#{$font-name}.eot');
    src: url('#{$path-fonts}#{$font-name}.eot?#iefix') format('embedded-opentype'),
         url('#{$path-fonts}#{$font-name}.woff') format('woff'),
         url("#{$path-fonts}#{$font-name}.woff2") format("woff2"),
         url('#{$path-fonts}#{$font-name}.ttf') format('truetype'),
}

@font-face {
    $font-name: 'inter-semibold';
    font-family: $font-family;
    font-weight: 600;

    font-display: block;
    src: url('#{$path-fonts}#{$font-name}.eot');
    src: url('#{$path-fonts}#{$font-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$path-fonts}#{$font-name}.woff') format('woff'),
    url("#{$path-fonts}#{$font-name}.woff2") format("woff2"),
    url('#{$path-fonts}#{$font-name}.ttf') format('truetype'),
}
