html,
body {
    height: 100%;
}

body {
    font-family: $font-family-default;
    font-weight: 500;

    color: $color-text;

    &.scroll-lock {
        overflow: hidden;
    }

    &.fixed {
        position: fixed;
        inset: 0;
    }
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;

    word-break: break-word;

    &::before,
    &::after {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

button {
    font-family: $font-family;

    padding: 0;

    cursor: pointer;

    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
}

input,
textarea {
    font-family: $font-family-default;

    color: inherit;

    &:focus {
        outline: none;
    }
}
