{{#> main classes="site-map"}}
    {{#*inline "content"}}
        <nav class="site-map__nav">
            <ul class="site-map__list">
                {{#each links}}
                    <li class="site-map__list-item">
                        {{> link
                            classes="site-map__list-link"
                            link=this
                        }}
                    </li>
                {{/each}}
            </ul>
        </nav>
    {{/inline}}
{{/main}}
