<div class="{{classes}} error-block">
    <h1 class="error-block__title">
        {{code}}
    </h1>

    <div class="error-block__description">
        {{description}}
    </div>

    {{{Link
        classes="error-block__link"
        href="/messenger"
        text="Назад к чатам"
        themaType="link"
    }}}
</div>
