<li class="add-user">
    {{ login }}

    {{#Action
        classes="add-user__action"
        themaType="button"
        thema="button-transparent"
        onClick=onAddUser
    }}
        {{{Icon
            classes="add-user__action-icon"
            size="22"
            name="cross-in-circle"
        }}}
    {{/Action}}
</li>
