{{#> main classes="error-page"}}
    <div class="error-page__wrapper">
        <h1 class="error-page__title">
            {{code}}
        </h1>

        <div class="error-page__description">
            {{description}}
        </div>

        {{> action
            thema="link"
            href="/chats"
            text="Назад к чатам"
        }}
    </div>
{{/main}}
