.action {
    $root: &;

    &--button {
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;

        padding: rem(12);

        transition: background-color $transition-default;

        @include text-props(13, 13);
    }

    &--button-brand {
        min-width: rem($size-button);

        color: $color-text-button;
        border-radius: $border-radius-button;
        background-color: $color-bg-button;

        &:hover {
            background-color: $color-bg-hover-button;

            @media (hover: none) {
                background-color: $color-bg-button;
            }
        }

        &:focus {
            outline: rem(2) solid $color-outline-button;
            outline-offset: 0;

            &:hover {
                outline: none;
            }
        }

        &:active {
            outline: none;

            background-color: $color-bg-button;
        }
    }

    &--button-dots {
        display: block;

        padding: rem(5) rem(11);

        border-radius: 50%;

        &:hover {
            background-color: $color-bg-hover-button-dot;
        }

        &::before,
        &::after {
            display: block;

            width: rem(3);
            height: rem(3);

            content: "";

            border-radius: 50%;
            background-color: $color-bg-icon-dot;
        }
    }

    &--button-dots & {
        &__icon {
            display: block;

            width: rem(3);
            height: rem(3);
            margin: rem(3) 0;

            border-radius: 50%;
            background-color: $color-bg-icon-dot;
        }
    }

    &--button-transparent {
        justify-content: flex-start;

        min-width: initial;

        padding: rem(7);

        color: $color-text;
        border-radius: $border-radius-button;
        background-color: transparent;

        &:hover {
            background-color: $color-bg-hover-button-transparent;

            @media (hover: none) {
                background-color: transparent;
            }
        }

        &:active {
            outline: none;

            background-color: transparent;
        }

        @include text-props(12, 14);
    }

    &--button-transparent & {
        &__icon {
            margin-right: rem(15);

            color: $color-icon;
        }
    }

    &--button-transparent-icon {
        display: inline-flex;
    }

    &--button-circle-icon {
        width: rem(28);
        height: rem(28);
        padding: 0;

        color: $color-text-button;
        border-radius: 50%;
        background-color: $color-brand;
    }

    &--link {
        display: inline-flex;
        align-items: center;

        transition: color $transition-default;

        color: $color-link;

        &:hover {
            color: $color-hover-link;

            @media (hover: none) {
                color: $color-link;
            }
        }

        &:focus {
            outline: rem(2) solid $color-outline-button;
            outline-offset: 0;

            &:hover {
                outline: none;
            }
        }

        &:active {
            color: $color-link;
            outline: none;
        }

        &__text ~ &__icon,
        &__icon ~ &__text {
            margin-left: rem(4);
        }

        @include text-props(11, 11);
    }

    &--link-medium {
        @include text-props(13, 13);
    }

    &--link-medium-highlighted {
        color: $color-highlighted;

        &:hover {
            color: $color-highlighted;

            &:active {
                color: $color-highlighted;
                outline: none;
            }
        }

        @include text-props(13, 13);
    }

    &--link-unobtrusive {
        color: $color-unobtrusive;

        &:hover {
            color: $color-unobtrusive;

            @media (hover: none) {
                color: $color-unobtrusive;
            }
        }

        &:active {
            color: $color-unobtrusive;
            outline: none;
        }
    }

    &--full-height-with-icon {
        display: flex;
        align-items: center;

        padding: rem(18);

        border-right: rem(1) solid $color-border-light-gray;
        background-color: $color-bg-light-gray;
    }

    &--full-height-with-icon & {
        &__icon {
            width: rem(30);
            height: rem(30  );
            padding: rem(9);

            color: $color-text-button;
            border-radius: 50%;
            background-color: $color-brand;
        }
    }
}
