.formfield {
    $root: &;
    $label-default: 13px;
    $label-size: 11px;

    position: relative;

    &--filled & {
        &__element {
            height: rem(32);
            padding: rem(10) rem(10) rem(10) rem(34);

            border: none;
            border-radius: rem(5);
            background-color: $color-bg-inout-filled;

            &:focus,
            &:not(:placeholder-shown),
            &:read-only {
                & + #{$root}__label {
                    top: 50%;
                    left: rem(10);

                    transform: translate(0, -50%);

                    & #{$root}__label-text {
                        display: none;
                    }
                }
            }

            @include text-props(12, 12);
        }

        &__label {
            top: 50%;
            left: 50%;

            transition: none;
            transform: translate(-50%, -50%);

            &-icon {
                width: rem(20);
                height: rem(20);
            }
        }
    }

    &--filled-2 & {
        &__element {
            height: rem(32);
            padding: rem(10) rem(20) rem(10) rem(20);

            border: none;
            border-radius: rem(30);
            background-color: $color-bg-inout-filled;

            &:focus,
            &:not(:placeholder-shown),
            &:read-only {
                & + #{$root}__label {
                    display: none;
                }
            }

            @include text-props(12, 12);
        }

        &__label {
            top: 50%;
            left: rem(20);

            transition: none;
            transform: translateY(-50%);
        }
    }

    &#{&}--edges-row & {
        &__element {
            padding: rem(10) 0;

            text-align: right;

            border: none;

            &:disabled {
                color: $color-unobtrusive;
            }
        }

        &__element:focus +,
        &__element:not(:placeholder-shown) + {
            & #{$root}__label {
                top: rem(10);

                cursor: text;

                @include text-props(13, 13);
            }
        }

        &__label {
            color: $color-text;

            @include text-props(13, 13);
        }
    }

    &#{&}--edges-row {
        & #{$root}__label {
            top: rem(10);
        }
    }

    &#{&}--file & {
        &__element {
            display: none;
        }

        &__element:focus +,
        &__element:not(:placeholder-shown) + {
            #{$root}__label {
                cursor: pointer;

                @include text-props(12, 16);
            }
        }

        &__label {
            position: static;

            width: rem(122);
            margin: 0 auto;

            cursor: pointer;
            text-decoration: underline;

            color: $color-brand;

            @include text-props(12, 16);
        }
    }

    &#{&}--button-big-circle-icon {
        position: relative;

        display: inline-flex;

        width: rem(130);
        height: rem(130);

        transition: $transition-default;

        border-radius: 50%;
        background-color: $color-bg-inout-filled;

        &:hover {
            & #{$root}__label-text {
                display: block;

                opacity: 0.5;

                background-color: #000;
            }
        }
    }

    &#{&}--button-big-circle-icon & {
        &__element {
            display: none;
        }

        &__element:focus +,
        &__element:not(:placeholder-shown) + {
            #{$root}__label {
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                cursor: pointer;
            }
        }

        &__label-icon {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            color: $color-icon-unobtrusive;
        }

        &__label-text {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding: rem(51) rem(33);

            transition: $transition-default;

            opacity: 0;
            color: $color-text-button;
            border-radius: 50%;

            @include text-props(13, 14);
        }
    }

    &__element {
        width: 100%;
        padding: rem(8) 0 rem(7);

        border: none;
        border-bottom: rem(1) solid $color-border-input;
        background-color: transparent;

        &::placeholder {
            color: $color-unobtrusive;
        }

        @include text-props(13, 13);
    }

    &__label {
        position: absolute;
        top: rem(8);
        left: 0;

        display: flex;
        align-items: center;

        cursor: text;
        transition: $transition-input;

        color: $color-unobtrusive;

        &-icon {
            &:not(:last-child) {
                margin-right: rem(4);
            }
        }

        @include text-props($label-default, $label-default);
    }

    &__element:focus + &,
    &__element:not(:placeholder-shown) + & {
        &__label {
            top: rem(-$label-size);

            cursor: default;

            @include text-props($label-size, $label-size);
        }
    }

    &__error {
        margin-top: rem(7);

        text-align: left;

        color: $color-error;

        @include text-props(10, 10);
    }

    &.password-mismatch-error {
        color: $color-error;
    }
}
