.aside-panel {
    width: rem(100);
    padding-top: rem(22);

    text-align: right;

    border-right: rem(1) solid $color-border-light-gray;
    background-color: $color-bg-light-gray;

    &__header {
        margin: 0 rem(10);
    }

    &__link {
        &:not(:last-child) {
            margin-bottom: rem(22);
        }
    }

    &__search {
        &:not(:last-child) {
            margin-bottom: rem(14);
        }
    }

    &__chats {
        overflow: auto;

        max-height: calc(100vh - #{rem(110)});
    }
}
