{{#> main classes="site-map"}}
    <div class="site-map__wrapper">
        <h1>{{title}}</h1>

        <nav class="site-map__nav">
            <ul class="site-map__list">
                {{#each links}}
                    <li class="site-map__list-item">
                        {{{this}}}
                    </li>
                {{/each}}
            </ul>
        </nav>

        {{{Button label="Выйти" onClick=onLogout}}}
    </div>
{{/main}}
