.link {
    @include text-props(11, 11);

    display: inline-flex;
    align-items: center;

    transition: color $transition-default;

    color: $color-link;

    &#{&}--unobtrusive {
        color: $color-unobtrusive;

        &:hover {
            color: $color-unobtrusive;

            @media (hover: none) {
                color: $color-unobtrusive;
            }
        }

        &:focus {
            outline: rem(2) solid $color-outline-button;
            outline-offset: 0;

            &:hover {
                outline: none;
            }
        }

        &:active {
            outline: none;

            color: $color-unobtrusive;
        }
    }

    &:hover {
        color: $color-hover-link;

        @media (hover: none) {
            color: $color-link;
        }
    }

    &:focus {
        outline: rem(2) solid $color-outline-button;
        outline-offset: 0;

        &:hover {
            outline: none;
        }
    }

    &:active {
        outline: none;

        color: $color-link;
    }

    &__text ~ &__icon,
    &__icon ~ &__text {
        margin-left: rem(4);
    }

    &__icon {
        width: rem(12);
        height: rem(12);
    }
}
