<div class="{{ classes }} message {{#if isMine}}message--mine{{/if}}">
    <div class="message__content">
        <p>
            {{ content }}

            <span class="message__content-info">
                <time class="message__content-date">
                    {{time}}
                </time>
            </span>
        </p>
    </div>
</div>
